.cart--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart--image {
  width: 100px;
}

.input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
