html {
  min-height: 100%;
  overflow-y: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(51, 65, 65);
  color: white;
  padding-left: 3em;
  padding-right: 2em;
}

.nav--links {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

li {
  padding-right: 2em;
  color: white;
}

.home--img {
  background: no-repeat center center fixed;
  height: 100vh;
  width: 100%;
}

.home--container {
  position: relative;
}

.home--button {
  border-radius: 2em;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}

.home--button:hover {
  transform: scale(1.1);
  transition: 0.7s;
  color: rgb(127, 182, 255);
}

.home--shop {
  position: absolute;
  top: 18em;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.541);
  border-radius: 3em;
  box-shadow: 10px 7px 15px rgba(48, 67, 78, 0.575);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home--shop > p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 5px;
}

.shop--container {
  padding: 5em;
  background-color: whitesmoke;
}
